<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<p><a href="/adduser/">添加用户</a></p>
<p><a href="/showuser/">显示用户</a></p>
<p><a href="/updateuser/">更新用户信息</a></p>
<p><a href="/deleteuser/">删除用户</a></p>
<br>

<p><a href="/addperson/">添加人</a></p>
<p><a href="/addcard/">绑定卡/</a></p>
<p><a href="/delperson/">删除一个人</a></p>
<p><a href="/delcard/">注销卡</a></p>
<p><a href="/getcard/">卡找人</a></p>
<p><a href="/getperson/">人找卡</a></p>
<br>

<p><a href="/addgrade/">添加班级</a></p>
<p><a href="/addstu/">添加学生</a></p>
<p><a href="/delgrade/">删除班级</a></p>
<p><a href="/getstugrade/">学生获取班级信息</a></p>
<p><a href="/getgradestu/">获取班级学生信息</a></p>
<br>

<p><a href="/addusermodel/">添加用户</a></p>
<p><a href="/addgoods/">添加商品</a></p>
<p><a href="/addcart/">加购物车</a></p>
<p><a href="/showcart/">显示购物车</a></p>
<p><a href="/addcollect"> 天机收藏</a></p>
<p><a href="/showgoods/">显示商品收藏数</a></p>

</body>
</html>